.fade-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
}

.fade-card .fade-card-material {
  background: url("https://images.unsplash.com/photo-1515266591878-f93e32bc5937?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2574&q=80")
    no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: #bbb;
  color: black;
}

.faded {
  opacity: 0.7;
}

.fade-card-answer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}
