.guess-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
}

.guess-card .guess-card-material {
  background: url("https://images.unsplash.com/photo-1515266591878-f93e32bc5937?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2574&q=80")
    no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  background-color: #bbb;
  color: black;
}

.guesser {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.guessed-correctly {
  background-color: green;
}

.exists {
  background-color: goldenrod;
}
